body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #1B4071;
    background-image:  repeating-linear-gradient(to right, transparent 0, transparent 5.833333333333333px, #1B4071 5.833333333333333px, #1B4071 17.5px, transparent 17.5px, transparent 23.333333333333332px), repeating-linear-gradient(to bottom, transparent 0, transparent 5.833333333333333px, #1B4071 5.833333333333333px, #1B4071 17.5px, transparent 17.5px, transparent 23.333333333333332px), linear-gradient(to bottom, #d1d5de 2.1px, transparent 2.1px), linear-gradient(to right, #d1d5de 2.1px, transparent 2.1px) ;
    background-size: 100% 100%, 100% 100%, 70px 70px, 70px 70px;
    background-position: 0 0, 0 0, 0 -0.7000000000000001px, -0.7000000000000001px 0;
}

.calculator{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #8BA9C7 ;
    width: 320px;
    padding: 20px;
    border-radius:15px ;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

#display{
    font-size: 28px;
    font-weight: bold;
    height: 65px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-color: #d1d5de;
    color: black;
    border-radius: 10px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

button{
    width: 80px;
    height: 40px;
    font-size: 16px;
    background-color: #d1d5de;
}

button:hover {
    background-color: #b7b6c2;
}